.main {
  display: flex;
  flex-direction: column;

  padding: 2.5rem;
}
.main_text_conteiner {
  display: flex;
  flex-direction: column;
}
.paragraph {
  font-family: Inter;
  font-size: 1rem;
  font-weight: lighter;
  color: white;
}
.heading {
  font-family: Inter;
  color: white;

  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.inicials {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}
.inputs {
  font-family: Inter;
  font-size: 1rem;
  min-height: 2.5rem;
  flex: 1 1;
  padding: 0.75rem 0.9rem 0.75rem 0.9rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
}

.contactData {
  font-family: Inter;
  font-size: 1rem;
  margin-bottom: 1rem;
  min-height: 2.5rem;
  padding: 0.75rem 0.9rem 0.75rem 0.9rem;
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
}
.message {
  font-size: 1rem;
  font-family: Inter;
  margin-bottom: 1rem;
  min-height: 10rem;
  padding-bottom: 7rem;
  padding-left: 0.9rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}
.sender {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1rem;
  font-family: Inter;
  min-height: 2.5rem;
  border-radius: 5px;
  background-image: linear-gradient(to right, #763af5 0%, #a604f2 100%);
}
.rocket {
  background-color: #a604f2;
}
